html
  head
    title="Get Puffins!"
  body
    h3="About"
    p="'Get Puffins' is written in NodeJS using Express and leverages the Flickr API."
    i="This product uses the Flickr API but is not endorsed or certified by Flickr."
