html
  head
    title="Get Puffins!"
  body
    h3="About"
    |'Get Puffins' is written in NodeJS using Express and leverages the Flickr API. You can find the source on <a href="https://github.com/wjimenez5271/get-puffin">github</a>.<p>
    i="This product uses the Flickr API but is not endorsed or certified by Flickr."
